{% extends 'base.html.twig' %}

{% block body %}
<section class="profile">
    <div>
        <div class="profile_picture">
        </div>
        <div>
            <h1>Edition du profil</h1>
            <label for="mail">e-mail :
            <input type="email" name="mail" placeholder="e-mail" id="mail"></label><br>
            <label for="mail">name :
            <input type="text" name="name" placeholder="name" id="name"></label><br>
            <label for="password">password :
            <input type="password" name="password" placeholder="password" id="password"></label><br>
        </div>

        <div>
            <h1>Créer un quiz</h1>

            <div class="create">
                <textarea>question 1</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 2</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 3</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 4</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 5</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 6</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 7</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 8</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 9</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

            <div class="create">
                <textarea>question 10</textarea>
                <label for="choice1">1
                    <input type="text" name="choice1" id="choice1">
                </label>
                <label for="choice2">2
                    <input type="text" name="choice2" id="choice2">
                </label>
                <label for="choice3">3
                    <input type="text" name="choice3" id="choice3">
                </label>

                <select name="reponse">
                    <option value="1" name="1">1</option>
                    <option value="2" name="2">2</option>
                    <option value="3" name="3">3</option>
                </select>
            </div>

        </div>
    </div>


</section>

{% endblock %}