{% extends 'base.html.twig' %}

{% block body %}

     <section class='home'>
            
            <form class='login_form' method="POST" action="/categorie">
                <h1 class='title'><span style='font-size:80px;'>Quiz</span> <br> symfony</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborum.</p>
                <input type='text' placeholder="Comment tu t'appelles ?" required='required' name='playername'>
                <br/>
                <input type='submit' value='Commencer !'>
            </form>

            <div class='visu'></div>
           
        </section>
{% endblock %}