{% extends 'base.html.twig' %}

{% block body %}
    <section class="end_quiz">
        <div class="contents">
            <p class='categorie_name'>{{ categorie }}</p>
            <div class='img' style='background-image: url("{{image}}"); background-size:cover; background-position:center;'></div>
            <p class="note">{{ note }}</p>

            <div class='buttons'>
                <a href='../in/'><div class='button'>Sauvegarder</div></a>
                <a href='../../../../categorie'><div class='button'>Recommencer</div></a>
            </div>
        </div>
    </section>
{% endblock %}