<section class='redirect_connection'>
    <div class='connection_buttons'>
        <h1><span>Connecte-toi</span> <br/> avant je jouer !</h1>

        <a href='/'><div class='button'>Jouer en invité</div></a>
        <div class='button'>Connexion</div>
        <div class='button'>Inscription</div>
    </div>
</section>