{% extends 'base.html.twig' %}


{% block body %}
    {% if app.session.get('playerName') or app.user %}
        <section class='quizz'>
            <div class='categories'>
                {% for categorie in categories %}
                    <a href="quiz/{{categorie[1]}}/1/in">
                        <div class="categorie" style='background-image: url("{{categorie[2]}}"); background-size:cover; background-position:center;' >
                            <h1>{{ categorie[0] }}</h1>
                        </div>
                    </a>   
                {% endfor %}
                <div class="end"></div>
            </div>
        </section>
        <div class="landscape"></div>
    {% else %}
        
        {% include 'redirection.html.twig' %}

    {% endif %}
{% endblock %}
